body{
	background-color: #EEEEFF;
}

h1, h2, h3 {
	text-align: center;
	color: #666666;
}

p{
	text-align: center;
}

#container{
	width: 80%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	
	padding: 1%;
	
	background-color: rgba(150, 150, 180, 0.3);
	border-radius: 2em;
}